:root { 
    --header: #2C3E50 ;
    --jumbotron: #1ABC9C; 
}

/* body {
    overflow-x: hidden;
} */

.header {
    background-color: var(--header);
    height: 80px;
}

.jumbotron {
    background-color: var(--jumbotron);
}

.star::before {
    content: '';
	display: block;
    width: 160px;
    height: 2px;
    background-color: white;
}

.star::after {
    content: '';
	display: block;
    width: 160px;
    height: 2px;
    background-color: white;
}

.star-black::before {
    content: '';
	display: block;
    width: 160px;
    height: 2px;
    background-color: black;
}

.star-black::after {
    content: '';
	display: block;
    width: 160px;
    height: 2px;
    background-color: black;
}



/* MEDIA QUERYS  */


@media screen and (min-width: 576px) {
    body {
        overflow-x: scroll;
    }

}


@media screen and (min-width: 768px) {

 }


@media screen and (min-width: 992px) {

 }


@media screen and (min-width: 1200px) { 

}


@media screen and (min-width: 1400px) { 
 
}



