:root { 
    --header: #2C3E50 ;
    --jumbotron: #1ABC9C; 
}

body {
    overflow-x: hidden;
}

.header {
    background-color: var(--header);
    height: 80px;
}

.jumbotron {
    background-color: var(--jumbotron);
}

/* MEDIA QUERYS  */


@media (min-width: 576px) {
    body {
        overflow-x: scroll;
    }

    .nav {
        display: none;
    }
}


@media (min-width: 768px) {

 }


@media (min-width: 992px) {

 }


@media (min-width: 1200px) { 

}


@media (min-width: 1400px) { 

}



