:root { 
    --header: #2C3E50 ;
    --jumbotron: #1ABC9C; 
    --about: #1ABC9C;
}

/* body {
    overflow-x: scroll;
} */

.header {
    background-color: var(--header);
}

.jumbotron {
    background-color: var(--jumbotron);
}

.about {
    background-color: var(--about);
}

.star::before {
    content: '';
	display: block;
    width: 10vw;
    height: 3px;
    background-color: white;
    border-radius: 99px;
}

.star::after {
    content: '';
	display: block;
    width: 10vw;
    height: 3px;
    background-color: white;
    border-radius: 99px;
}

.star-black::before {
    content: '';
	display: block;
    width: 10vw;
    height: 3px;
    background-color: black;
    border-radius: 99px;
}

.star-black::after {
    content: '';
	display: block;
    width: 10vw;
    height: 3px;
    background-color: black;
    border-radius: 99px;
}



/* MEDIA QUERYS  */


@media screen and (min-width: 576px) {
    /* body {
        overflow-x: scroll;
    } */

}


@media screen and (min-width: 768px) {

 }


@media screen and (min-width: 992px) {

 }


@media screen and (min-width: 1200px) { 

}


@media screen and (min-width: 1400px) { 
 
}



